.comparison-table {
  .comparison-table-section-heading {
    padding-top: 2rem;
    color: $primary;
    font-style: italic;
    font-weight: 400;
  }

  tr {
    th {
      min-width: calc(50vw / 3);
      max-width: 300px;
      padding: 0 1rem;
      text-align: center;

      img {
        max-width: 100%;
        object-fit: contain;
      }
    }

    td {
      padding: 0.5rem 1.25rem;
      text-align: center;
      border-right: 1px solid grey;
      line-height: 1rem;
      color: $black;
    }
    td:first-child { text-align: left; }
    td:last-child { border-right: none; }
  }
}
