// Hero Section
.enterprise-hero {
  @extend .hero;
  background: url(../../img/enterprise/hero.png) no-repeat center top;
  background-color: $dark-background;
  button.btn { font-size: 1em; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {
  .enterprise-hero {
    background: url(../../img/enterprise/hero-tab.png) no-repeat center top;
  }
}

@media only screen and (max-width: 1200px) {
  .enterprise-hero {
    background: url(../../img/enterprise/hero-tab.png) no-repeat center center;
  }
}

@media only screen and (max-width: 480px) {
  .enterprise-hero {
    min-height: 325px;
    background: url(../../img/enterprise/hero-mob.png) no-repeat center center;
    padding-top: 2rem;
  }
}

// Revenue Section
.revenue-section {
  background-color: $white;

  .customer-image {
    @extend .side-image;
    background: url(../../img/enterprise/customers.png) no-repeat center center;
    background-size: cover;
  }

  .card.clear { max-width: 460px; }
}

.calc-section {
  padding: 5rem 0;
  background-color: $dark-background;
  h3.text-primary { font-weight: 400; }
  button.btn { font-size: 1.5em; }
}

.risk-section {
  background-color: $white;

  .risk-image {
    @extend .side-image;
    background: url(../../img/enterprise/risk.png) no-repeat center top;
    background-size: cover;
  }

  .card.clear { max-width: 460px; }
}

.delivery-section { @extend .icon-group-3; }

.call-to-action-section {
  background-color: $dark-background;
  padding: 3rem;

  h3 { font-weight: 400; }
  .btn.btn-primary { font-size: 1.5em; }
}

@media only screen and (max-width: 992px) {
  .call-to-action-section {
    h3 { text-align: center; }
  }
}
