.features-hero {
  @extend .hero;
  min-height: unset;
  background-color: $dark-background;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  padding-top: 4rem;

  .row { max-width: 880px; }
  h2.title {
    border-bottom: 1px solid $primary;
    max-width: 350px;
    padding-bottom: 1rem;
  }
}

.test-section {
  padding-bottom: 6rem;
  .card.clear { max-width: 400px; }
  img {
    width: 100%;
    max-width: 535px;
    max-height: 500px;
  }
}

.payment-flows {
  padding: 3rem 0;
  background-color: $dark-background;

  h3 { font-weight: 400; }
  img {
    width: 100%;
    max-width: 470px;
    margin-bottom: 3rem;
  }
}

.load-testing {
  background-color: $white;

  .load-testing-image {
    @extend .side-image;
    background: url(../../img/features/load-testing.png) no-repeat center top;
    background-size: cover;
  }

  .card.clear { max-width: 460px; }
  h3 {
    color: $white;
    font-weight: 400;
    margin-top: 15rem;
  }
}

.live-log {
  background-color: $dark-background;

  h3 { font-weight: 300; }
  h4 { font-weight: 300; }

  .card.clear { max-width: 460px; }
  hr { border-color: $primary; }
  .code-image {
    min-height: 450px;
    @extend .side-image;
    background: url(../../img/features/code.png) no-repeat center left;
  }
}

.github-bar {
  padding: 3rem 0;
  a { color: $dark; }
  h3 {
    font-style: italic;
    font-weight: 300;
  }
}
