---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'extendables';
@import 'navbar';
@import 'buttons';
@import 'footer';

@import 'includes/brands-bar';
@import 'includes/testimonials';
@import 'includes/runkit';

@import 'index/hero';
@import 'index/benefits';
@import 'index/business';

@import 'enterprise';
@import 'features';

@import 'contact';
@import 'pricing';

body {
  background-color: $light-background;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
