---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'highlight/styles/atom-one-dark.css';
@import 'utils';
@import 'extendables';
@import 'navbar';
@import 'buttons';
@import 'footer';

@import 'includes/brands-bar';
@import 'includes/testimonials';
@import 'includes/runkit';

// Doc components
@import 'includes/docs/components/side-menu';
@import 'includes/docs/components/side-menu/heading';
@import 'includes/docs/components/side-menu/menu-item';

@import 'index/hero';
@import 'index/benefits';
@import 'index/business';

@import 'business';
@import 'features';

@import 'contact';
@import 'pricing';
@import 'about';

body {
  background-color: $light-background;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  margin: 0;
  font-weight: 300;
}

pre { border-radius: 4px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
