@charset "UTF-8";
@import url(text.css);
img {
  max-width: 100%;
  height: auto; }

.container-fluid {
  padding: 0 80px; }

.floatWidth, .white-section, .green-section, .blue-section, .grey-section, .home-top-img-content, .subpage-top-img-content, footer {
  float: left;
  width: 100%; }

.white-section, .green-section, .blue-section, .grey-section {
  padding: 75px 0; }

.white-section {
  background-color: #ffffff; }

.green-section {
  background-color: #6bbfa3;
  color: #ffffff; }

.blue-section {
  background: #269dd1;
  color: #ffffff; }

.grey-section {
  background-color: #f8f7f7; }

.cta {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  color: #ffffff;
  background-color: #6bbfa3;
  font-weight: 700;
  float: left;
  display: inline-block;
  clear: both;
  font-size: 21px;
  margin-top: 15px;
  border: none;
  border-bottom: 5px solid #337761;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  .cta a {
    color: #ffffff;
    padding: 15px 25px;
    float: left; }
    .cta a:hover {
      text-decoration: none; }
  .cta:hover {
    background-color: #337761;
    border-bottom: 5px solid #245344; }

.center-align {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center; }

.no-pad {
  padding: 0; }

.mTop {
  margin-top: 30px; }

header {
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px 0; }

nav {
  float: right; }
  nav img {
    float: left; }
  nav ul {
    float: right;
    margin: 15px 0 0 0;
    padding: 0;
    text-align: right; }
    nav ul li {
      font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
      text-align: right;
      display: inline;
      margin-left: 65px;
      font-weight: 700; }
      nav ul li:first-of-type {
        margin-left: 0; }
      nav ul li a {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700; }
      nav ul li.cta {
        float: none;
        margin: 0 0 -13px 65px;
        border-bottom: 3px solid #337761; }
        nav ul li.cta:hover {
          border-bottom: 3px solid #245344; }
        nav ul li.cta a {
          padding: 5px 12px; }

.navbar-mobile {
  float: right; }

.home-top-img {
  float: left;
  width: 100%;
  height: 650px;
  background: url(../img/home-bg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.home-top-img-content {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center; }
  .home-top-img-content .black-box, .home-top-img-content .cta {
    display: none; }

.black-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  margin: 15px 0;
  float: left;
  color: #ffffff;
  clear: both;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); }
  .black-box h1, .black-box h2 {
    margin: 0;
    font-weight: 400; }
  .black-box h2 {
    font-size: 28px; }

.test-coverage {
  float: left;
  width: 100%;
  padding-right: 30px; }
  .test-coverage h3 {
    margin-top: 0; }

.payment-toolkit {
  float: left;
  width: 100%;
  padding-top: 65px; }
  .payment-toolkit img {
    border-radius: 5px;
    -webkit-box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35);
    -moz-box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35);
    box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35); }

.payment-toolkit-1 {
  float: left;
  width: 65%;
  padding-right: 65px; }

.payment-toolkit-2 {
  float: left;
  width: 35%; }

.code-browser {
  /*min-width:550px;*/ }

.code-examples {
  float: left;
  width: 100%;
  background-color: #2b2b29;
  padding: 10px 30px;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px; }

.code-snippets {
  float: left;
  width: 100%;
  background-color: #383835;
  padding: 50px 30px; }

ul.code-snippets-nav {
  margin: 0;
  padding: 0; }
  ul.code-snippets-nav li {
    margin: 0;
    display: inline-block;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s; }

code {
  background: transparent;
  border-radius: none;
  color: #ffffff;
  margin-left: 45px;
  font-size: 85%; }
  code span {
    color: #269dd1; }
  code:first-of-type {
    margin: 0; }

ul.code-nav {
  padding: 0;
  margin: 0;
  text-align: left; }
  ul.code-nav li {
    display: inline-block;
    color: #ffffff;
    margin: 0 25px 0 0;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px; }

.diagram {
  text-align: center;
  color: #2b2b29; }
  .diagram h3 {
    margin: 0 0 45px 0; }

.key-benefits {
  text-align: center; }
  .key-benefits .col-md-3 {
    padding: 0 45px; }
  .key-benefits .single-key-benefit {
    float: left;
    width: 100%; }
  .key-benefits p {
    font-size: 18px; }
  .key-benefits h3 {
    margin-bottom: 45px; }
  .key-benefits h4 {
    margin: 30px 0 10px 0; }

.payment-gateways {
  text-align: center; }
  .payment-gateways h3 {
    margin-bottom: 45px; }

ul.list-payment-gateways {
  margin: 0 auto;
  padding: 0; }
  ul.list-payment-gateways li {
    list-style: none;
    display: inline-block;
    margin: 12px 40px; }

.how-it-helps {
  text-align: center; }
  .how-it-helps blockquote {
    font-style: italic;
    font-size: 20px;
    border: none;
    line-height: 35px;
    position: relative;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0; }
    .how-it-helps blockquote:after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 65px;
      border: 1px solid #ffffff;
      transform: translateX(-50%); }
    .how-it-helps blockquote span {
      font-size: 32px; }
  .how-it-helps cite {
    font-style: normal;
    font-size: 18px;
    font-weight: 700; }

.who-benefits {
  text-align: center; }

.who-benefits-container {
  max-width: 1300px;
  margin: 55px auto 0 auto;
  display: inline-block; }
  .who-benefits-container h4 {
    font-size: 18px; }

.coders-testers, .tech-managers, .business-owners {
  text-align: left;
  width: 33.33%;
  float: left;
  background-color: #f8f7f7;
  font-size: 16px;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(43, 43, 43, 0.35);
  -moz-box-shadow: 0px 6px 6px 0px rgba(43, 43, 43, 0.35);
  box-shadow: 0px 6px 6px 0px rgba(43, 43, 43, 0.35); }
  .coders-testers ul, .tech-managers ul, .business-owners ul {
    padding: 0; }
    .coders-testers ul li, .tech-managers ul li, .business-owners ul li {
      list-style: none;
      margin: 10px 0 10px 25px; }
      .coders-testers ul li:first-child, .tech-managers ul li:first-child, .business-owners ul li:first-child {
        margin-top: 0; }
      .coders-testers ul li:before, .tech-managers ul li:before, .business-owners ul li:before {
        content: "\f00c";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        margin-right: 5px;
        width: 1.3em;
        color: #6bbfa3; }
  .coders-testers .green-title, .tech-managers .green-title, .business-owners .green-title {
    background-color: #6bbfa3;
    float: left;
    width: 100%;
    padding: 30px 55px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px; }
    .coders-testers .green-title h4, .tech-managers .green-title h4, .business-owners .green-title h4 {
      margin: 0; }
  .coders-testers .white-content, .tech-managers .white-content, .business-owners .white-content {
    background-color: #ffffff;
    float: left;
    width: 100%;
    padding: 30px 55px; }

.coders-testers {
  transform: scale(1.1);
  position: relative;
  top: -15px; }

.business-owners .green-title, .business-owners .white-content {
  padding: 30px 55px 30px 75px; }

.find-out-more {
  text-align: left;
  padding-bottom: 0; }
  .find-out-more h3 {
    margin: 0 0 25px 0; }
  .find-out-more p {
    font-size: 21px; }
  .find-out-more .cta {
    float: left;
    margin-bottom: 0; }

.find-out-more-content {
  float: left;
  width: 100%;
  padding-right: 30px; }

.subpage-top-img {
  float: left;
  width: 100%;
  height: 440px;
  background: url(../img/subpage-bg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.subpage-top-img-content {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center; }
  .subpage-top-img-content h1 {
    font-size: 36px; }
  .subpage-top-img-content .black-box, .subpage-top-img-content .cta {
    display: none; }

.features-page {
  background: url(../img/features-bg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.payment-gateway-simulators {
  float: left;
  width: 100%; }
  .payment-gateway-simulators img {
    float: right; }

.reporting-dashboard-panel, .response-parameter-panel, .load-harness {
  padding: 100px 0 0 0; }
  .reporting-dashboard-panel h3, .response-parameter-panel h3, .load-harness h3 {
    margin-top: 0; }

.reporting-dashboard-panel .features-content {
  padding-left: 30px; }

.response-parameter-panel .features-content {
  padding-right: 30px; }
.response-parameter-panel img {
  border-radius: 5px;
  -webkit-box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35);
  -moz-box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35);
  box-shadow: 0px -4px 10px 0px rgba(43, 43, 43, 0.35); }

.load-harness {
  text-align: center; }
  .load-harness p {
    font-size: 21px; }
  .load-harness .load-harness-content1, .load-harness .load-harness-content2, .load-harness .load-harness-content3 {
    text-align: left; }
    .load-harness .load-harness-content1 p, .load-harness .load-harness-content2 p, .load-harness .load-harness-content3 p {
      font-size: 16px; }
  .load-harness .fa-2x {
    font-size: 2.5em; }

ul.load-harness-icon-list {
  padding: 0;
  margin: 0; }
  ul.load-harness-icon-list .fa-inverse {
    color: #269dd1; }
  ul.load-harness-icon-list span {
    width: 100%; }
  ul.load-harness-icon-list li {
    display: inline-block;
    position: relative;
    width: 112px;
    margin: 20px 50px 40px 50px; }
    ul.load-harness-icon-list li.active {
      color: #1a6c90; }
    ul.load-harness-icon-list li:hover {
      cursor: pointer;
      color: #1a6c90; }
    ul.load-harness-icon-list li:after {
      position: absolute;
      content: '';
      right: -50%;
      top: 0%;
      margin-right: -28px;
      width: 65px;
      height: 32%;
      border-bottom: 2px solid #1a6c90; }
    ul.load-harness-icon-list li:last-of-type:after {
      border: none; }

.other-features-item {
  padding: 40px 0; }
  .other-features-item p {
    margin: 0; }

.other-features-container:nth-child(odd) .other-features-item {
  padding-right: 30px; }
.other-features-container:nth-child(even) .other-features-item {
  padding-left: 30px; }
.other-features-container:nth-child(2n+1) {
  clear: both; }
.other-features-container:nth-child(3) .other-features-item, .other-features-container:nth-child(4) .other-features-item {
  border-top: 3px solid #f8f7f7; }

.pricing-intro {
  float: left;
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .pricing-intro p {
    font-size: 24px;
    margin: 0; }

.last-cta {
  margin-top: 42px !important; }

.cta-pricing {
  float: left;
  width: 100%;
  margin-top: 40px; }
  .cta-pricing p:first-of-type {
    margin-bottom: 5px;
    font-size: 18px; }

.pricing-section {
  float: left;
  width: 100%;
  padding: 75px 0;
}



.price-box {
  background-color: #ffffff;
  padding: 60px 45px;
  text-align: center;
  color: #2b2b29;
  margin: 15px 0;
  float: left;
}
.price-box.contact {
  float: none;
  text-align: left;
}
.price-box h4 {
  margin: 0;
  color: #6bbfa3; }
.price-box hr {
  margin: 25px 0;
  width: 100%;
  float: left;
  color: #f8f7f7; }
.price-box ul {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
.price-box ul li {
  text-decoration: none;
  list-style: none;
  margin: 5px 0;
}
.price-box .cta {
  float: none;
  margin: 0 0 0 0;
  font-size: 19px; }
.price-box .cta a {
  padding: 12px 30px;
}
.price-box span {
  width: 100%;
  float: left;
}
.price-box span.pricing {
  font-size: 54px;
  font-weight: 700;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}
.price-box span.pricing:before {
  content: '€';
  font-size: 24px;
  vertical-align: text-top;
  margin-right: 5px;
  font-weight: 400;
}
.price-box span.requests {
  font-size: 22px;
  font-weight: 500;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; }
.price-box span.per-sim-month {
  font-size: 16px;
}
.price-box span.pricing-note {
  margin-top: -5px;
  display: block;
  height: 11px;
  font-size: 11px;
}

.basic-account-box, .pro-rata-box {
  background-color: #ffffff;
  padding: 46px 40px;
  text-align: center;
  color: #2b2b29;
  margin: 15px 0;
  float: left;
  width: 100%; }
  .basic-account-box h3, .pro-rata-box h3 {
    margin: 0 0 15px 0;
    color: #6bbfa3; }
  .basic-account-box .cta, .pro-rata-box .cta {
    float: none;
    margin: 0;
    font-size: 19px; }
    .basic-account-box .cta a, .pro-rata-box .cta a {
      padding: 12px 30px; }

.get-in-touch {
  text-align: center; }
  .get-in-touch p {
    font-size: 21px; }
  .get-in-touch form {
    text-align: left;
    margin-top: 30px; }
    .get-in-touch form .form-group {
      float: left;
      width: 100%;
      margin-bottom: 35px; }
    .get-in-touch form label {
      font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", sans-serif;
      font-size: 18px;
      font-weight: 400;
      float: left;
      width: 100%;
      margin-bottom: 10px; }
    .get-in-touch form span.dateFromTo {
      float: left;
      width: 8%;
      margin-top: 10px;
      text-align: center; }
  .get-in-touch .input-group-addon {
    padding: 12px 15px; }
  .get-in-touch .date-position {
    width: 46%;
    float: left; }
  .get-in-touch textarea.hs-input, .get-in-touch textarea {
    resize: none;
    font-size: 16px;
    padding: 12px 0 12px 15px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    box-sizing: content-box !important;
    height: 5em; }
  .get-in-touch input[type="text"], .get-in-touch input[type="email"], .get-in-touch input[type="number"], .get-in-touch input[type="tel"] {
    padding: 12px 0 12px 15px;
    height: auto;
    display: block;
    font-size: 16px;
    appearance: none;
    box-shadow: none;
    border-radius: none; }
  .get-in-touch input[type="text"]:focus, .get-in-touch input[type="email"]:focus, .get-in-touch input[type="number"]:focus {
    outline: none; }
  .get-in-touch button.cta {
    padding: 15px 25px;
    margin: 0 auto;
    display: block;
    float: none; }

.hs-form fieldset, .hs-form .hs-input, .hs-form textarea.hs-input {
  max-width: none !important; }

ul.hs-error-msgs li {
  margin: 5px 0 0 0; }

legend {
  border: none; }

.hs-richtext p:nth-child(2) {
  display: none; }

.hs-form .hs-button {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;
  color: #ffffff !important;
  background-color: #6bbfa3 !important;
  font-weight: 700 !important;
  float: left !important;
  display: inline-block !important;
  clear: both !important;
  font-size: 21px !important;
  margin-top: 15px !important;
  border: none !important;
  border-bottom: 5px solid #337761 !important;
  padding: 15px 25px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 5px !important;
  background-image: none !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  -moz-transition: all 0.6s !important;
  -webkit-transition: all 0.6s !important;
  transition: all 0.6s !important; }
  .hs-form .hs-button a {
    color: #ffffff !important;
    padding: 15px 25px !important;
    float: left !important; }
    .hs-form .hs-button a:hover {
      text-decoration: none !important; }
  .hs-form .hs-button:hover {
    background-color: #337761 !important;
    border-bottom: 5px solid #245344 !important; }

.about-page {
  background: url(../img/about-bg2.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.meet-the-team {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #f8f7f7; }

.meet-the-team-intro {
  float: left;
  width: 100%;
  padding: 30px 0; }
  .meet-the-team-intro h3 {
    margin: 0; }

.team-members {
  height: auto;
  float: left;
  width: 25%;
  position: relative;
  display: table;
  border: 0;
  overflow: hidden; }
  .team-members img {
    float: left;
    width: 100%;
    position: absolute;
    height: auto;
    display: table-cell; }

.team-member-container {
  width: 100%;
  color: white;
  text-align: center;
  background: rgba(38, 157, 209, 0.9);
  position: relative;
  height: auto;
  display: table-cell;
  vertical-align: middle; }
  .team-member-container span {
    width: 100%;
    float: left; }
    .team-member-container span.team-name {
      font-size: 21px;
      font-weight: 600;
      margin: 0 0 2px 0; }
    .team-member-container span.team-role {
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 2px 0; }
    .team-member-container span.team-twitter {
      font-size: 16px; }
      .team-member-container span.team-twitter a {
        color: #ffffff; }

footer {
  background-color: #2b2b29;
  padding: 45px 0;
  color: white; }
  footer small {
    font-size: 16px;
    float: left;
    margin-top: 10px; }
    footer small a {
      color: #ffffff; }
  footer nav {
    float: right;
    width: auto; }
    footer nav ul {
      margin: 0;
      padding: 0;
      font-weight: 400; }
      footer nav ul li {
        margin-left: 45px; }

/* Greater 1450 */
@media only screen and (min-width: 1450px) {
  .diagram .container-fluid {
    max-width: 1500px !important;
    padding: 0 30px; } }
/* Less 1450 */
@media only screen and (max-width: 1450px) {
  .payment-toolkit-1 {
    width: 55%; }

  .payment-toolkit-2 {
    width: 45%; }

  .diagram .col-md-6:first-child img {
    padding-right: 40px; }
  .diagram .col-md-6:last-child img {
    padding-left: 40px; } }
/* Less 1350 */
@media only screen and (max-width: 1350px) {
  .payment-toolkit-1 {
    width: 50%;
    padding-right: 35px; }

  .payment-toolkit-2 {
    width: 50%; }

  .diagram .container-fluid {
    padding: 0 30px; }
  .diagram h3 {
    font-size: 26px; } }
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container-fluid {
    padding: 0 30px; }

  nav ul li {
    margin-left: 40px; }
    nav ul li.cta {
      float: none;
      margin: 0 0 -13px 40px;
      border-bottom: 3px solid #337761; }
      nav ul li.cta:hover {
        border-bottom: 3px solid #245344; }

  .home-top-img {
    background: url(../img/home-bg2-tab.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .features-page {
    background: url(../img/features-bg2-tab.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .diagram h3 {
    padding: 0 75px; }

  .payment-toolkit {
    padding-top: 35px; }

  .payment-toolkit-1 {
    width: 100%;
    padding-right: 0; }

  .payment-toolkit-2 {
    width: 100%;
    margin-top: 25px; }

  .coders-testers, .tech-managers, .business-owners {
    font-size: 16px; }

  .coders-testers .green-title, .coders-testers .white-content, .business-owners .green-title, .business-owners .white-content, .tech-managers .green-title, .tech-managers .white-content {
    padding: 30px 45px; }

  ul.list-payment-gateways li {
    margin: 30px 40px; }

  .price-box {
    padding: 30px 25px; }
    .price-box span.pricing {
      font-size: 46px; }
      .price-box span.pricing:before {
        font-size: 21px; }
    .price-box span.requests {
      font-size: 21px; }

  .basic-account-box, .pro-rata-box {
    padding: 30px 25px; }

  .find-out-more-content {
    padding-right: 0; }
    .find-out-more-content .cta a {
      padding: 10px 20px;
      font-size: 18px; }

  code {
    font-size: 80%; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; }

  .navbar-mobile {
    margin: 0; }
    .navbar-mobile .navbar-toggle {
      border-color: #f8f7f7;
      background: #f8f7f7; }
      .navbar-mobile .navbar-toggle .icon-bar {
        background-color: #2b2b29; }

  .navbar-collapse {
    float: right;
    width: 100%; }

  .container-fluid {
    padding: 0 15px; }

  h1 {
    font-size: 36px; }

  nav ul {
    margin: 25px 0 0 0; }
    nav ul li {
      margin-left: 40px; }

  .diagram {
    padding: 65px 0 !important; }
    .diagram h3 {
      padding: 0; }
    .diagram .col-md-6:first-child img {
      padding-right: 0; }
    .diagram .col-md-6:first-child h3 {
      margin: 0 0 35px 0; }
    .diagram .col-md-6:last-child img {
      padding-left: 0; }
    .diagram .col-md-6:last-child h3 {
      margin: 55px 0 35px 0; }

  .payment-toolkit {
    padding: 35px 0; }
    .payment-toolkit img {
      padding-top: 0; }

  .coders-testers, .tech-managers, .business-owners {
    font-size: 16px; }
    .coders-testers .green-title, .tech-managers .green-title, .business-owners .green-title {
      padding: 25px 35px; }
      .coders-testers .green-title h4, .tech-managers .green-title h4, .business-owners .green-title h4 {
        font-size: 18px; }
    .coders-testers .white-content, .tech-managers .white-content, .business-owners .white-content {
      padding: 25px 35px; }

  .business-owners .green-title, .business-owners .white-content {
    padding: 25px 35px 25px 45px; }

  .find-out-more {
    text-align: center; }
    .find-out-more .cta {
      float: none;
      margin-bottom: 30px; }

  .single-key-benefit {
    margin-bottom: 25px; }

  .other-features-container:nth-child(odd) .other-features-item {
    padding-right: 0; }
  .other-features-container:nth-child(even) .other-features-item {
    padding-left: 0; }

  .payment-gateway-simulators img {
    margin-top: 45px;
    float: right; }

  .team-members {
    width: 50%; }

  footer small {
    font-size: 16px;
    float: left;
    margin-top: 10px;
    width: 100%;
    text-align: center; }
  footer nav {
    float: left;
    width: 100%; }
    footer nav ul {
      margin: 30px 0 0 0;
      padding: 0;
      float: none;
      text-align: center; }
      footer nav ul li {
        margin: 0 25px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .container {
    padding: 0 15px; }

  #navbar-collapse-1 {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 75px;
    left: 0;
    z-index: 9999;
    padding: 0 30px 30px 0; }

  .container, .container-fluid {
    padding: 0 30px; }

  nav ul {
    margin: 25px 0 0 0; }
    nav ul li {
      width: 100%;
      float: right;
      margin: 10px 0; }
      nav ul li.cta {
        float: right;
        width: auto;
        margin: 10px 0 0 0; }

  .home-top-img {
    background: url(../img/home-bg2-tab.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .features-page {
    background: url(../img/features-bg2-tab.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .payment-toolkit {
    padding: 35px 0 0 0; }

  .subpage-top-img-content {
    width: auto; }

  .white-section, .green-section, .blue-section, .grey-section {
    padding: 45px 0; }

  .reporting-dashboard-panel, .response-parameter-panel, .load-harness {
    padding: 55px 0 0 0; }

  .reporting-dashboard-panel .features-content {
    padding-left: 0; }

  .response-parameter-panel .features-content {
    padding-right: 0; }

  .who-benefits-container {
    display: flex;
    flex-flow: column; }

  .coders-testers, .tech-managers, .business-owners {
    font-size: 18px;
    width: 85%;
    margin: 20px 7.5%; }
    .coders-testers .green-title h4, .tech-managers .green-title h4, .business-owners .green-title h4 {
      font-size: 21px; }

  .coders-testers {
    transform: scale(1);
    position: relative;
    top: initial;
    order: 1;
    margin-top: 0; }

  .tech-managers {
    order: 2; }

  .business-owners {
    order: 3; }

  ul.list-payment-gateways li {
    margin: 12px 25px; }
    ul.list-payment-gateways li img {
      max-width: 80%; }

  .payment-gateway-simulators img {
    margin-top: 20px;
    float: left; }

  .reporting-dashboard-panel .center-align, .response-parameter-panel .center-align, .load-harness .center-align, .payment-toolkit .center-align {
    display: block; }

  .load-harness-content1 h4, .load-harness-content1 p, .load-harness-content2 h4, .load-harness-content2 p, .load-harness-content3 h4, .load-harness-content3 p {
    text-align: center; }

  ul.load-harness-icon-list .fa-2x {
    font-size: 2em; }
  ul.load-harness-icon-list li {
    margin: 20px 15px; }
    ul.load-harness-icon-list li:after {
      position: absolute;
      content: '';
      right: -50%;
      top: 0%;
      margin-right: 20px;
      width: 40px;
      height: 32%;
      border-bottom: 2px solid #1a6c90; }

  .get-in-touch .input-group-addon {
    padding: 12px 8px; }

  footer nav ul li {
    margin: 0 10px;
    float: none; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #navbar-collapse-1 {
    top: 57px;
    padding-right: 15px; }

  .container, .container-fluid {
    padding: 0 25px; }

  .diagram h3 {
    font-size: 20px; }

  h3 {
    font-size: 20px; }

  h4 {
    font-size: 18px; }

  .navbar-toggle {
    margin-top: 0;
    margin-right: 0; }

  .home-top-img {
    height: 325px;
    background: url(../img/home-bg2-mob.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .home-top-img .cta {
      margin: 4px 0; }

  .features-page {
    background: url(../img/features-bg2-mob.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .subpage-top-img {
    height: 185px; }

  .white-section, .blue-section {
    padding: 25px 0; }

  .reporting-dashboard-panel, .response-parameter-panel, .load-harness {
    padding: 25px 0 0 0; }

  .key-benefits h3, .payment-gateways h3 {
    margin-bottom: 25px; }

  .who-benefits-container {
    margin: 25px auto 0 auto; }

  .about-page {
    height: 220px;
    background: url(../img/about-bg2.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  header {
    z-index: 999;
    position: relative;
    padding: 15px 0; }
    header img {
      max-width: 65%; }

  .black-box {
    padding: 10px;
    margin: 4px 0;
    background-color: rgba(15, 15, 15, 0.65); }
    .black-box h1 {
      font-size: 24px; }
    .black-box h2 {
      font-size: 18px; }

  .cta {
    font-size: 14px; }
    .cta a {
      padding: 8px 14px; }

  .test-coverage {
    padding-right: 0; }

  ul.list-payment-gateways li {
    margin: 20px 0; }

  .load-harness p {
    font-size: 18px; }
  .load-harness span.load-harness-span-txt {
    font-size: 14px; }

  ul.load-harness-icon-list .fa-2x {
    font-size: 1.8em; }
  ul.load-harness-icon-list li {
    width: 32%;
    margin: 20px 0; }
    ul.load-harness-icon-list li:after {
      position: absolute;
      content: '';
      right: -50%;
      top: 0%;
      margin-right: 45px;
      width: 25px;
      height: 30%;
      border-bottom: 2px solid #1a6c90; }

  .coders-testers, .tech-managers, .business-owners {
    width: 100%;
    margin: 20px 0; }
    .coders-testers .white-content, .coders-testers .green-title, .tech-managers .white-content, .tech-managers .green-title, .business-owners .white-content, .business-owners .green-title {
      padding: 25px; }

  footer nav ul li {
    font-size: 14px;
    margin: 0 10px; } }
/* Custom, iPhone Retina */
/* IE9 10 */
@media screen and (min-width: 0\0) {
  .home-top-img-content, .subpage-top-img-content {
    padding-top: 75px; } }

/*# sourceMappingURL=main.css.map */
