.shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

.border-none { border: none; }

.contain-img { object-fit: contain; }

// Background colors
.dark-background {
  background-color: $dark-background;
}
.light-background {
  background-color: $light-background;
}
.white-background {
  background-color: $white;
}

.overflow-hidden { overflow: hidden; }

// text utils
.text-gray { @extend .text-secondary; }

.text-gray-light { color: #CCCCCC; }

.text-gold { color: $gold; }

.text-mono { font-family: monospace; }

.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }

// Sizing
.fill-screen-minus-footer-and-nav {
  min-height: calc(100vh - 139px);
}

.min-vh-100 { min-height: 100vh; }

// Spacing
.mt-45 { margin-top: 2em; }
.ml-45 { margin-left: 2em; }
.mr-45 { margin-right: 2em; }
.mb-45 { margin-bottom: 2em; }
