.shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

.border-none { border: none; }

.contain-img { object-fit: contain; }

// Background colors
.dark-background {
  background-color: $dark-background;
}
.light-background {
  background-color: $light-background;
}
.white-background {
  background-color: $white;
}

.clip-background-t {
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

.clip-background-t.border-top { position: relative; }

.clip-background-t.border-top:after {
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
  background: $primary;
  content: '';
  position: absolute;
  left: 0;
  top: -84%;
  right: 0;
  height: 100%;
  display: block;
  z-index: 9;
}

.overflow-hidden { overflow: hidden; }

// text utils
.text-gray { @extend .text-secondary; }

.text-gray-light { color: #CCCCCC; }

.text-gold { color: $gold; }

.text-mono { font-family: monospace; }

.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }

// Sizingclip-background-t
.fill-screen-minus-footer-and-nav {
  min-height: calc(100vh - 139px);
}

.min-vh-100 { min-height: 100vh; }

// Spacing
.mt-45 { margin-top: 2em; }
.ml-45 { margin-left: 2em; }
.mr-45 { margin-right: 2em; }
.mb-45 { margin-bottom: 2em; }
