//
// Bootstrap Overrides
//

// Colors
$white: #fff;
$dark: #3A3D3D;
$teal: #61C0A2;
$light: $white;
$primary: $teal;
$gray-900: $white;

// Navbar
$navbar-dark-color: $dark;

//
// Custom Colors
//
$white-lilac: #F6F9FC;

$light-background: $white-lilac;
$dark-background: $dark;
