//
// Bootstrap Overrides
//

// Colors
$white: #fff;
$dark: #3A3D3D;
$teal: #61C0A2;
$light: $white;
$primary: $teal;
$gray: #9B9B9B;
$gray-900: $white;

$dark-turqoise: #00C7DC;
$info: $dark-turqoise;

// Navbar
$navbar-dark-color: $dark;

//
// Custom Colors
//
$alabaster: #FBFBFB;

$light-background: $alabaster;
$dark-background: $dark;

$gray-text: $gray;
