<div class="text-center white-background">
  <h4 class="col col-sm-6 mx-auto mt-5 mb-4">
    Benefits to your Team
    <hr class="border-primary mt-1" style="max-width: 350px">
  </h4>
</div>

<section class="d-flex flex-wrap justify-content-center white-background py-4 text-center">
  <div class="col-sm-8 col-lg my-3">
    <i class="text-primary far fa-clock fa-3x mb-2"></i>
    <br/>
    <p class="font-weight-normal">Decrease Development Time</p>
    <p class="text-center">Teams that use our payment simulators in their development environments deliver payment features 40% faster on average.</p>
  </div>
  <div class="col-sm-8 col-lg my-3">
    <i class="text-primary fas fa-chart-line fa-3x mb-2"></i>
    <br/>
    <p class="font-weight-normal">Increase Checkout Conversion</p>
    <p class="text-center">Teams that use our platform in their test environments spot more optimisations that can improve conversion by over 5-10%.</p>
  </div>
  <div class="col-sm-8 col-lg my-3">
    <i class="text-primary fas fa-trophy fa-3x mb-2"></i>
    <br/>
    <p class="font-weight-normal">Protect Revenues</p>
    <p class="text-center">Companies that test their payments with our platform before every software release reduce the risk of unscheduled payments outages by over 50%</p>
  </div>
</section>

<section class="d-flex flex-wrap justify-content-center pb-4 white-background">
  <a href="https://admin.testingpays.com" class="mt-3 mr-3 btn btn-lg btn-long shadow btn-primary">Signup for free</a>
  <a href="/stripe/docs/welcome" class="mt-3 mr-3 btn btn-lg btn-long shadow btn-dark">Read the docs</a>
</section>
