<section class="d-flex flex-wrap justify-content-center white-background border-top">
  <div class="col-12 col-sm-4 col-lg-3 px-4 py-4 border-right">
    <h4 class="text-primary mb-3 text-roboto-condensed">Build Smarter</h4>
    <p class="text-gray m-0">Don't waste your time building payment API mocks. Focus on delivering impactful features.</p>
  </div>

  <div class="col-12 col-sm-4 col-lg-3 px-4 py-4 border-right">
    <h4 class="text-primary mb-3 text-roboto-condensed">Build Faster</h4>
    <p class="text-gray m-0">Triggering any payment response you need, when you need it, cuts your development time by 40%.</p>
  </div>

  <div class="col-12 col-sm-4 col-lg-3 px-4 py-4">
    <h4 class="text-primary mb-3 text-roboto-condensed">Code Safer</h4>
    <p class="text-gray m-0">Run payments test automation for every build. Catch expensive bugs before they hit production.</p>
  </div>
</section>
