<div class="text-center">
  <h4 class="col col-sm-6 mx-auto my-5">
    Common Questions
    <hr class="border-primary my-1" style="max-width: 350px">
  </h4>
</div>

<section class="d-flex flex-wrap justify-content-center white-background py-4">

  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <div class="mt-4">
      <h4>What is a Simulator?</h4>
      <p>
        A simulator is our (more powerful) version of a payment gateways systems. We simulate their systems by exposing the same api they do and return the data as they would. From there we give you the ability to control the response and expose how the request is processed to you.
      </p>
    </div>

    <div class="mt-4">
      <h4>How do I use one?</h4>
      <p>
        The first step is signing up for a free account (no card required) here. From there you can select any of our sims and follow our simple instructions to get up and running.
      </p>
    </div>

    <div class="mt-4">
      <h4>How do I know your Simulators are up to date?</h4>
      <p>
        We continuously run tests against our simulators and the payment gateways real systems to ensure there are no differences between the two. This ensures consistency and gives us the burden of maintaining these systems.
      </p>
    </div>

    <div class="mt-4">
      <h4>Which Simulator should I use?</h4>
      <p>
        In order to pick out a simulator you first need to know what payment gateway you want to use such as stripe or paypal. Once you have decided on which one to use you can start writing tests against those simulators on our systems to get up and running.
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <div class="mt-4">
      <h4>Why should I use one?</h4>
      <p>
        Our Simulators allow you to do more than you could without them. For instance, we give you the ability to get any possible response back from the api rather than just the predetermined ones attached to test cards. This gives you the ability to handle even more scenarios and provide a much better user experience.
      </p>
    </div>

    <div class="mt-4">
      <h4>Do they replace the native sandbox?</h4>
      <p>
        You can use our simulators to test your systems without requiring the native sandbox, or you can use both in conjunction. It’s up to you as to which flow better suits you.
      </p>
    </div>

    <div class="mt-4">
      <h4>Can I use your simulators in production</h4>
      <p>
        No. Our simulators will not act as a bypass (currently) for your requests and are not meant to be used in your production environments.
      </p>
    </div>
  </div>

</section>
