---
layout: default
uses_react: true
scripts: '<script type="module" src="/js/components/common-questions.js"></script>'
---

<section id="" class="d-flex justify-content-center py-5 light-background">
  <div class="px-3 mx-3" style="max-width: 580px;">
    <h1 class="mt-3">DevTools for Authipay</h1>
    <h5 class="font-weight-light mb-2">
      Use our powerful Authipay simulators to take full control over your dev environments. Build better software. Build it faster.
      <br>
      <br>
      If your software project depends on Authipays APIs, you need our dev tools.
    </h5>

    <a href="https://admin.testingpays.com/signup" class="mt-3 mr-3 btn btn-lg btn-long shadow btn-primary">Signup for free</a>
    <a href="/authipay/docs/welcome" class="mt-3 mr-3 btn btn-lg btn-long shadow btn-dark">Read the docs</a>
  </div>

  <div class="d-none d-md-block text-center">
    {% include authipay/landing/sim-card.html %}
  </div>
</section>

{% include sims/landing-pages/build-bar.html %}

<div class="text-center white-background border-top">
  <h4 class="col col-sm-6 mx-auto my-4 pt-5">
    A Better Testing System
    <hr class="border-primary my-1" style="max-width: 350px">
    <small class="text-gray fw-300">Authipay Sandbox vs Our Simulators</small>
  </h4>
</div>

<section id="" class="d-flex justify-content-center py-5 white-background">
  <table class="comparison-table">
    <tbody>
      <tr>
        <th></th>
        <th><img height="45px" src="/img/logos/authipay.png"></th>
        <th><img height="35px" src="/img/logos/tp-logo.svg"></th>
      </tr>
      <tr>
        <td class="comparison-table-section-heading">Setup</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Signup in under 5 minutes</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>NDA required</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <td>24/7 Access</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Security Certs Required</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <td class="comparison-table-section-heading">Api</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Stable Environment</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Response Triggers</td>
        <td>None</td>
        <td>ChargeTotal, CardCodeValue <br><small>choose your own parameter</small></td>
      </tr>
      <tr>
        <td>Configure Network Latency</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Custom Responses</td>
        <td>No</td>
        <td>Yes <br> <small>Add any response</small></td>
      </tr>

      <tr>
        <td class="comparison-table-section-heading">User Flows / Usability</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>DCC</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>MCC</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Load Tests</td>
        <td>Not allowed</td>
        <td>Supported <br> <small>Up to 80 calls/sec</td>
      </tr>
      <tr>
        <td class="comparison-table-section-heading">Debugging</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Real-time logs</td>
        <td>None</td>
        <td>Live logs</td>
      </tr>
      <tr>
        <td>Persistant Logs</td>
        <td>Dashboard for 15 days</td>
        <td>Persistant File Logging</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>

{% include sims/landing-pages/benefits.html %}
{% include sims/landing-pages/common-questions.html gateway="authipay" singular="Authipay" plural="Authipays" %}
