<section id="customer-testimonials" class="testimonials-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="title">Customer Testimonials</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">

        <div class="card mx-auto">
          <div class="card-body">
            <div class="card-title">
              <img src="img/logos/fusioneer.png" />
            </div>
            <p class="card-text">
              <i>
              Having a way to reliably work through many different user journeys – happy paths and problems – on test environments opens up the possibility for the identification of significant improvements we can make to our product.
            </i>
            <br/>
            <br/>
            <span>
              - Roger Martin,
              VP of Engineering
            </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="card mx-auto">
          <div class="card-body">
            <div class="card-title">
              <img src="img/logos/eyesparks.png" />
            </div>
            <p class="card-text">
              <i>
              Before using TestingPays we were dropping transactions due to untested payment responses. Now our customers are given the correct information to help complete their transactions and our revenue has increased by 20%.
            </i>
            <br/>
            <br/>
            <span>
              - Tony Woods,
              CEO, Eyesparks
            </span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
