---
layout: default
---

<section id="hero" class="enterprise-hero">
  <div class="container">
    <div class="row">

      <div class="col col-md-8 col-lg-6">
        <h1 hidden>Enterprise Solutions</h1>
        <h2 class="title mb-4">
          The smartest way to test your businesses payment system
        </h2>

        <p class="description mb-4">
          We understand payments and want to help your business provide the best experiences for your customers
        </p>

        <button class="btn btn-primary">
          Calculate Savings
        </button>
      </div>

    </div>
  </div>
</section>

{% include brands_bar.html %}

<section id="increase-revenue" class="revenue-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-xl-4 offset-xl-2">
        <div class="d-flex flex-column">

          <div class="card clear mt-5 mx-auto">
            <div class="card-body">
              <h4 class="card-title">Add new payment options</h4>
              <p class="card-text">
                Add new payment options for your users and increase your customer base
              </p>
            </div>
          </div>

          <div class="card clear mt-2 mx-auto">
            <div class="card-body">
              <h4 class="card-title">Better customer experience</h4>
              <p class="card-text">
                Build a better payments experience for your customers by taking every scenario into account
              </p>
            </div>
          </div>

          <div class="card clear mt-2 mb-5 mx-auto">
            <div class="card-body">
              <h4 class="card-title">Recover failed transactions</h4>
              <p class="card-text">
                Convert failed transactions into successfull ones with better insight into your payment system
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="d-none d-sm-block col-sm-4 col-lg-6 customer-image">
      </div>
    </div>
  </div>
</section>


<section id="calc" class="calc-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <i class="fas fa-calculator fa-3x text-primary"></i>
        <h3 class="text-primary mt-4">How much money are you leaving on the floor?</h3>
        <button class="btn btn-primary mt-4">Calculate Savings</button>
      </div>
    </div>
  </div>
</section>

<section id="risk" class="risk-section">
  <div class="container-fluid">
    <div class="row">

      <div class="d-none d-sm-block col-sm-4 col-lg-6 risk-image">
      </div>

      <div class="col col-xl-4">
        <div class="d-flex flex-column">

            <div class="card clear mt-5 mx-auto">
              <div class="card-body">
                <h4 class="card-title">Add new payment options</h4>
                <p class="card-text">
                  Add new payment options for your users and increase your customer base
                </p>
              </div>
            </div>

            <div class="card clear mt-2 mx-auto">
              <div class="card-body">
                <h4 class="card-title">Better customer experience</h4>
                <p class="card-text">
                  Build a better payments experience for your customers by taking every scenario into account
                </p>
              </div>
            </div>

            <div class="card clear mt-2 mb-5 mx-auto">
              <div class="card-body">
                <h4 class="card-title">Recover failed transactions</h4>
                <p class="card-text">
                  Convert failed transactions into successfull ones with better insight into your payment system
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section id="deliver-faster" class="delivery-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">Why use Testing Pays</h2>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="icon-container col-lg">
        <i class="far fa-clock fa-3x mb-2"></i>
        <br/>
        <p class="title">Decrease Development Time</p>
        <p class="text mx-auto">Our simulators enable your team to roll out new payment options in half the time. The more payment options for customers, the greater your revenue. </p>
      </div>
      <div class="icon-container col-lg">
        <i class="fas fa-chart-line fa-3x mb-2"></i>
        <br/>
        <p class="title">Increase Checkout Conversion</p>
        <p class="text mx-auto">Our simulators give you the controls and tools to analyse and find improvements for your customer checkout experience.</p>
      </div>
      <div class="icon-container col-lg">
        <i class="fas fa-trophy fa-3x mb-2"></i>
        <br/>
        <p class="title">Protect Revenues</p>
        <p class="text mx-auto">We make continuous testing of you customer payments easy. Prevent software bugs that cause payments errors and outages.</p>
      </div>
    </div>

    <br/>
    <br/>

    <div class="row">
      <div class="col">
        <a href="/contact" class="btn btn-primary btn-long btn-shadow">Learn More</a>
      </div>
    </div>
  </div>

</section>

<section id="call-to-action" class="call-to-action-section">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 mt-3">
        <h3 class="text-primary">
          <i>
            Get these benefits for your business and start building a new standard in payment experience
          </i>
        </h3>
      </div>

      <div class="col col-lg-3 text-center mt-3">
        <button class="btn btn-primary mt-2 btn-long">Contact Us</button>
      </div>

    </div>
  </div>
</section>

{% include testimonials.html %}
