---
layout: default
---
<section id="hero" class="hero-section d-flex align-items-top">
  <div class="container">

    <div class="row">
      <div class="col text-center">

        <h1 hidden>Payments Testing</h1>

        <h2 class="title mb-4">
          Make the best payment experiences for your customers
        </h2>

        <p class="description mx-auto">
          Testing Pays is a payments testing platform built for software teams. Whether a <span class="keyword">freelancer</span> or a large <span class="keyword">enterprise</span> team, you can build, test and scale your payments systems with <span class="keyword">confidence</span>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="https://admin.testingpays.com/sign-up" class="btn btn-lg btn-primary btn-shadow btn-long mt-2 mr-1 ml-1">Signup</a>
        <a href="/features" class="btn btn-lg btn-light btn-shadow btn-long mt-2 mr-1 ml-1">Features</a>
      </div>
    </div>
  </div>

</section>

{% include brands_bar.html %}

<section id="benefits" class="benefits-section">
  <div class="container">
    <div class="row">

      <div class="col col-lg-4">
        <div class="d-flex flex-column">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Painless Integrations</h5>
              <p class="card-text">
                Get going faster with your payments integrations and features.
              </p>
              <i class="fas fa-caret-right right"></i>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Payment API Simulators</h5>
              <p class="card-text">
                A single, turbo-charged sandbox under your control. No more sandbox frustration.
              </p>
              <i class="fas fa-caret-right right"></i>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Continuous Improvement</h5>
              <p class="card-text">
                Leave no payment behind. Finally you can test all payments scenarios painlessly.
              </p>
              <i class="fas fa-caret-right right"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col d-none d-lg-block dashboard-image">
        <img class="dashboard-image" src="img/backend/reporting-dashboard.png">
      </div>

    </div>

    <div class="row">
      <div class="col d-lg-none text-center">
        <img class="dashboard-image" src="img/backend/reporting-dashboard.png">
      </div>
    </div>
  </div>
</section>

{% include runkit.html %}

<section id="business" class="business-section text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">Why use Testing Pays</h2>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="icon-container col-lg">
        <i class="far fa-clock fa-3x mb-2"></i>
        <br/>
        <p class="title">Decrease Development Time</p>
        <p class="text mx-auto">Our simulators enable your team to roll out new payment options in half the time. The more payment options for customers, the greater your revenue. </p>
      </div>
      <div class="icon-container col-lg">
        <i class="fas fa-chart-line fa-3x mb-2"></i>
        <br/>
        <p class="title">Increase Checkout Conversion</p>
        <p class="text mx-auto">Our simulators give you the controls and tools to analyse and find improvements for your customer checkout experience.</p>
      </div>
      <div class="icon-container col-lg">
        <i class="fas fa-trophy fa-3x mb-2"></i>
        <br/>
        <p class="title">Protect Revenues</p>
        <p class="text mx-auto">We make continuous testing of you customer payments easy. Prevent software bugs that cause payments errors and outages.</p>
      </div>
    </div>

    <br/>
    <br/>

    <div class="row">
      <div class="col">
        <a href="/contact" class="btn btn-primary btn-long btn-shadow">Learn More</a>
      </div>
    </div>
  </div>
</section>

{% include testimonials.html %}
