.benefits-section {
  background-color: $dark-background;
  min-height: 740px;
  max-height: 850px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  .col { margin-top: 2.5rem; }

  .card:first-of-type { margin-top: 0; }
  .card {
    @extend .shadow;
    border: none;
    height: 130px;
    min-width: 250px;
    margin-top: 3rem;
    border-radius: 0;
    max-width: 355px;
  }
  .card-body { padding: 0; }
  .card.second { margin-top: 6rem; }
  .card-title {
    padding: .6rem .9rem;
    background-color: $teal;
    color: $white;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }
  .card-text {
    padding: .6rem .9rem;
    color: $gray-text;
    font-size: 0.9rem;
  }

  .dashboard-image {
    float: right;
    max-width: 100%;
    max-height: 22rem;
    margin-top: 5rem;
  }
}

@media (max-width: 1200px) {
  .benefits-section {
    .dashboard-image {
      float: none;
      margin-top: 1rem;
      max-height: 34rem;
    }
  }
}
@media (max-width: 768px) {
  .benefits-section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}
