.brands-bar-section {
  background-color: $light-background;
  max-height: 90px;
  overflow: hidden;

  .col {
    padding: 2rem 15px;
  }

  .stripe {}
  .worldpay {}
  .realex {}
  .paypal {}
  .neteller { padding-top: 4px; }
  .eshopworld {}
  .fusioneer {}
}

@media only screen and (max-width: 768px) {
  .brands-bar-section {
    max-height: 160px;

    .col {
      padding: 1.25rem 15px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .brands-bar-section {
    max-height: 210px;

    .col {
      padding: 1.25rem 15px;
    }
  }
}
