.testimonials-section {
  background-color: $light-background;
  padding: 3rem 0 6rem 0;

  h2.title {
    color: $gray-text;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
  }

  .card {
    @extend .shadow;
    border: none;
    border-radius: 0;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
  }
  .card-body { padding: 0; }
  .card-title {
    padding: .6rem .9rem;
    background-color: $dark;
    text-align: center;
    margin-bottom: 0.3rem;
  }
  .card-text {
    padding: 1rem;
    color: $gray-text;
    font-size: 1rem;

    span:first-of-type {
      float: right;
      margin: 15px 0;
    }
  }
}
