.runkit-section {
  background-color: $light-background;
  min-height: 600px;
  padding-top: 5rem;
  padding-bottom: 100px;

  .col:first-of-type { padding: 0 3rem; }
  #runkit-element { overflow: hidden; }

  .title {
    color: $teal;
    font-size: 1.5rem;
    font-weight: 300;
  }

  hr { border-top: 1px solid $teal; }

  .tab {
    display: block;

    text-align: left;
    font-size: 1rem;

    max-width: 190px;
    padding: 6px 20px;

    background-color: transparent;
  }
  .tab.active {
    @extend .shadow;
    color: $teal;
    background-color: $white;
    transition: color .3s;
  }

  .tab {
    .symbol {
      width: 1rem;
      margin-right: 0.5rem;
    }
    svg {
      @extend .symbol;
      color: $dark;
    }
    img {
      @extend .symbol;
      padding-bottom: 4px;
    }
  }

  .source-editor .CodeMirror-lines { max-height: 400px; }
}

@media (max-width: 991px) {
  .runkit-section {
    padding-top: 2rem;

    .col:first-of-type {
      padding: 0 15px;
      max-width: 425px;
    }
  }
}
