    &lt;ipgapi:IPGApiOrderRequest
         xmlns:v1=”http://ipg-online.com/ipgapi/schemas/v1”
         xmlns:ipgapi=”http://ipg-online.com/ipgapi/schemas/ipgapi”&gt;
      &lt;v1:Transaction&gt;
         &lt;v1:CreditCardTxType&gt;
            &lt;v1:Type&gt;postAuth&lt;/v1:Type&gt;
         &lt;/v1:CreditCardTxType&gt;
         &lt;v1:Payment&gt;
            &lt;v1:ChargeTotal&gt;59.00&lt;/v1:ChargeTotal&gt;
            &lt;v1:Currency&gt;978&lt;/v1:Currency&gt;
         &lt;/v1:Payment&gt;
         &lt;v1:TransactionDetails&gt;
            &lt;v1:OrderId&gt;
               703d2723-99b6-4559-8c6d-797488e8977
            &lt;/v1:OrderId&gt;
         &lt;/v1:TransactionDetails&gt;
      &lt;/v1:Transaction&gt;
    &lt;/ipgapi:IPGApiOrderRequest&gt;