&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;env:Envelope
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:v1="http://ipg-online.com/ipgapi/schemas/ipgapi"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;env:Body&gt;
    &lt;ipgapi:IPGApiOrderRequest
        xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1"
        xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi"&gt;
      &lt;v1:Transaction&gt;
        &lt;v1:CreditCardTxType&gt;
          &lt;v1:Type&gt;preAuth&lt;/v1:Type&gt;
        &lt;/v1:CreditCardTxType&gt;
        &lt;v1:CreditCardData&gt;
          &lt;v1:CardNumber&gt;5314332286004578&lt;/v1:CardNumber&gt;
          &lt;v1:ExpMonth&gt;02&lt;/v1:ExpMonth&gt;
          &lt;v1:ExpYear&gt;22&lt;/v1:ExpYear&gt;
        &lt;/v1:CreditCardData&gt;
        &lt;v1:Payment&gt;
          &lt;v1:ChargeTotal&gt;19.00&lt;/v1:ChargeTotal&gt;
          &lt;v1:Currency&gt;978&lt;/v1:Currency&gt;
        &lt;/v1:Payment&gt;
      &lt;/v1:Transaction&gt;
    &lt;/ipgapi:IPGApiOrderRequest&gt;
  &lt;/env:Body&gt;
&lt;/env:Envelope&gt;