<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
  <SOAP-ENV:Header/>
  <SOAP-ENV:Body>
    <SOAP-ENV:Fault>
      <faultcode>SOAP-ENV:Client</faultcode>
      <faultstring xml:lang="en">ProcessingException</faultstring>
      <detail>
        <ipgapi:IPGApiOrderResponse xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1">
          <ipgapi:ApprovalCode>N:-5005;The credit card you are using has been blocked_mask_card</ipgapi:ApprovalCode>
          <ipgapi:Brand>VISA</ipgapi:Brand>
          <ipgapi:CommercialServiceProvider>AIBMS</ipgapi:CommercialServiceProvider>
          <ipgapi:ErrorMessage>SGS-5005;The credit card you are using has been blocked_mask_card</ipgapi:ErrorMessage>
          <ipgapi:OrderId>A-z8SIJDx2UMb2BydORiIfE99F6kmAebTNp+FDPw==</ipgapi:OrderId>
          <ipgapi:IpgTransactionId>2137711057</ipgapi:IpgTransactionId>
          <ipgapi:PaymentType>CREDITCARD</ipgapi:PaymentType>
          <ipgapi:TDate>1537478017</ipgapi:TDate>
          <ipgapi:TDateFormatted>2018.09.20 21:13:37</ipgapi:TDateFormatted>
          <ipgapi:TransactionResult>FAILED</ipgapi:TransactionResult>
          <ipgapi:TransactionTime>1537478017</ipgapi:TransactionTime>
        </ipgapi:IPGApiOrderResponse>
      </detail>
    </SOAP-ENV:Fault>
  </SOAP-ENV:Body>
</SOAP-ENV:Envelope>