&lt;SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;SOAP-ENV:Header/&gt;
  &lt;SOAP-ENV:Body&gt;
    &lt;ipgapi:IPGApiActionResponse xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1"&gt;
      &lt;ipgapi:successfully&gt;true&lt;/ipgapi:successfully&gt;
      &lt;ipgapi:CardRateForDCC&gt;
        &lt;v1:InquiryRateId&gt;253824&lt;/v1:InquiryRateId&gt;
        &lt;a1:DccOffered&gt;true&lt;/a1:DccOffered&gt;
        &lt;a1:ForeignCurrencyCode&gt;978&lt;/a1:ForeignCurrencyCode&gt;
        &lt;a1:ForeignAmount&gt;0.00&lt;/a1:ForeignAmount&gt;
        &lt;a1:ExchangeRate&gt;1.00&lt;/a1:ExchangeRate&gt;
        &lt;a1:ExpirationTimestamp&gt;2018-09-07T7:55:35Z&lt;/a1:ExpirationTimestamp&gt;
        &lt;a1:MarginRatePercentage&gt;3.000&lt;/a1:MarginRatePercentage&gt;
        &lt;a1:ExchangeRateSourceName&gt;TESTING PAYS BANK&lt;/a1:ExchangeRateSourceName&gt;
        &lt;a1:ExchangeRateSourceTimestamp&gt;2018-09-07T8:55:35Z&lt;/a1:ExchangeRateSourceTimestamp&gt;
      &lt;/ipgapi:CardRateForDCC&gt;
    &lt;/ipgapi:IPGApiActionResponse&gt;
  &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
