&lt;SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;SOAP-ENV:Header/&gt;
  &lt;SOAP-ENV:Body&gt;
    &lt;ipgapi:IPGApiActionResponse xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1"&gt;
      &lt;ipgapi:successfully&gt;true&lt;/ipgapi:successfully&gt;
      &lt;ipgapi:DataStorageItem&gt;
        &lt;a1:CreditCardData&gt;
          &lt;v1:CardNumber&gt;424242...4242&lt;/v1:CardNumber&gt;
          &lt;v1:ExpMonth&gt;22&lt;/v1:ExpMonth&gt;
          &lt;v1:ExpYear&gt;02&lt;/v1:ExpYear&gt;
          &lt;v1:Brand&gt;VISA&lt;/v1:Brand&gt;
        &lt;/a1:CreditCardData&gt;
        &lt;a1:HostedDataID&gt;d763bba7-1cfa-4d3d-94af-9fbe29ec0e26&lt;/a1:HostedDataID&gt;
        &lt;a1:cardFunction&gt;credit&lt;/a1:cardFunction&gt;
      &lt;/ipgapi:DataStorageItem&gt;
    &lt;/ipgapi:IPGApiActionResponse&gt;
  &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
