&lt;SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;SOAP-ENV:Header/&gt;
  &lt;SOAP-ENV:Body&gt;
    &lt;ipgapi:IPGApiActionResponse xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1"&gt;
      &lt;ipgapi:successfully&gt;true&lt;/ipgapi:successfully&gt;
      &lt;a1:Error&gt;
        &lt;a1:ErrorMessage&gt;Hosted data id: TestingPays not found.&lt;/a1:ErrorMessage&gt;
      &lt;/a1:Error&gt;
    &lt;/ipgapi:IPGApiActionResponse&gt;
  &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
