.enterprise-hero {
  @extend .hero;
  background: url(../../img/enterprise/hero.png) no-repeat center top;
  button.btn { font-size: 1em; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 768px) {
  .enterprise-hero {
    background: url(../../img/enterprise/hero-tab.png) no-repeat center top;
  }
}

@media only screen and (max-width: 1200px) {
  .enterprise-hero {
    background: url(../../img/enterprise/hero-tab.png) no-repeat center center;
  }
}

@media only screen and (max-width: 480px) {
  .enterprise-hero {
    min-height: 325px;
    background: url(../../img/enterprise/hero-mob.png) no-repeat center center;
    padding-top: 2rem;
  }
}
