.page-heading {
  font-weight: 400;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  margin-bottom: 1.2rem;
  margin-left: -10px;
}
.section-heading {
  color: #019eab;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.section-heading-dark {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
