<svg width="316px" height="305px" viewBox="0 0 316 305" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
  <title>sims/card</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Sim-Landing-page" transform="translate(-894.000000, -162.000000)">
      <g id="Hero" transform="translate(0.000000, 70.000000)">
        <g id="sims/card" transform="translate(894.000000, 92.000000)">
          <g>
            <rect id="Rectangle" fill="#3A3D3D" x="0" y="0" width="316" height="305" rx="8"></rect>
            <g id="icons/bookmark" transform="translate(282.000000, 23.000000)" fill="#FFFFFF" stroke="#979797" stroke-opacity="0.200577446">
              <path d="M0.5,0.5 C0.5,11.5840665 0.5,11.8135612 0.5,21.769847 C0.550903499,21.7357448 0.599095711,21.6967394 0.634495154,21.6588165 C1.78764336,20.423466 4.91228962,16.8324697 4.9857554,16.7511923 C6.41811918,15.1665242 7.22732778,14.5 8,14.5 C8.76581955,14.5 9.58105416,15.1772861 11.0347652,16.785079 C11.0683331,16.8222048 14.2273588,20.4447425 15.3647756,21.6580369 C15.404277,21.7001734 15.451732,21.7405916 15.5,21.775418 C15.5,11.8136465 15.5,11.5861335 15.5,0.5 L0.5,0.5 Z M0.299492544,21.86795 C0.297587201,21.8680676 0.29576565,21.8682996 0.294035219,21.8686523 C0.299226513,21.8675941 0.304637532,21.8662836 0.310242476,21.8647362 Z" id="Bookmark"></path>
            </g>
            <text id="Adyen" font-family="RobotoCondensed-Bold, Roboto Condensed" font-size="28" font-style="condensed" font-weight="bold" fill="#FFFFFF">
              <tspan x="16" y="42">Adyen</tspan>
            </text>
            <text id="authorise-(v1)" font-family="RobotoCondensed-Regular, Roboto Condensed" font-size="18" font-style="condensed" font-weight="normal" fill="#FFFFFF">
              <tspan x="16" y="71">authorise (v1)</tspan>
            </text>
            <g id="sim-requests-graph" transform="translate(77.000000, 92.000000)">
              <g id="Sim-curve">
                <circle id="Oval" stroke="#979797" stroke-width="3" cx="81" cy="81" r="81"></circle>
                <path d="M80,0 C120.72811,1 148,27 157,56 C168,84 158,123 134,142" id="The-Path" stroke="#0CE4B6" stroke-width="11" stroke-linecap="round"></path>
              </g>
              <text id="20000" font-family="RobotoCondensed-Regular, Roboto Condensed" font-size="42" font-style="condensed" font-weight="normal" fill="#FFFFFF">
                <tspan x="29" y="73">20000</tspan>
              </text>
              <text id="Requests-Made" font-family="RobotoCondensed-Regular, Roboto Condensed" font-size="20" font-style="condensed" font-weight="normal" fill="#FFFFFF">
                <tspan x="44.4228516" y="102">Requests</tspan>
                <tspan x="59.0126953" y="126">Made</tspan>
              </text>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
