<section id="brands-bar" class="brands-bar-section">
  <div class="container">
    <div class="row">

      <div class="col text-center">
        <img height="30" class="paypal" src="img/logos/brands-bar/paypal.png"/>
      </div>

      <div class="col text-center">
        <img height="30" class="stripe" src="img/logos/brands-bar/stripe.png"/>
      </div>

      <div class="col text-center">
        <img height="30" class="realex" src="img/logos/brands-bar/realex.png"/>
      </div>

      <div class="col text-center">
        <img height="30" class="worldpay" src="img/logos/brands-bar/worldpay.png"/>
      </div>

      <div class="col text-center">
        <img height="25" class="neteller" src="img/logos/brands-bar/neteller.png"/>
      </div>

      <div class="col text-center">
        <img height="20" class="instadebit" src="img/logos/brands-bar/instadebit.png"/>
      </div>

      <div class="col text-center">
        <img height="30" class="payvision" src="img/logos/brands-bar/payvision.png"/>
      </div>

    </div>
  </div>
</section>
