
    <section id="footer" class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="https://thepayment.works/">
                  <b>Testing Pays</b> is a product of <b>The Payment Works</b>.
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gdpr">GDPR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="https://twitter.com/ThePaymentWorks"><i class="fab fa-twitter-square fa-lg"></i></a>
                <a class="nav-link" href="https://www.linkedin.com/company/15184175/"><i class="fab fa-linkedin fa-lg"></i></a>
                <a class="nav-link" href="https://github.com/orgs/TestingPays"><i class="fab fa-github fa-lg"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
