{
  "id": "evt_1DihQpDPjEFprg5kABYv4x76",
  "object": "event",
  "api_version": "2015-10-16",
  "created": 1545135135,
  "data": {
    "object": {
      "id": "ch_1DihQpDPjEFprg5kRp8CBeNv",
      "object": "charge",
      "amount": 5998,
      "amount_refunded": 0,
      "application": null,
      "application_fee": null,
      "balance_transaction": "txn_1DihQpDPjEFprg5kPNefrwSL",
      "captured": true,
      "created": 1545135135,
      "currency": "eur",
      "customer": "cus_9xBh3fQ7zzldaL",
      "description": "Payment for invoice 02EB1D8-0022",
      "destination": null,
      "dispute": null,
      "failure_code": null,
      "failure_message": null,
      "fraud_details": { },
      "invoice": "in_1DigUXDPjEFprg5kYz5MFKXj",
      "livemode": false,
      "metadata": { },
      "on_behalf_of": null,
      "order": null,
      "outcome": {
        "network_status": "approved_by_network",
        "reason": null,
        "risk_level": "normal",
        "risk_score": 55,
        "seller_message": "Payment complete.",
        "type": "authorized"
      },
      "paid": true,
      "payment_intent": null,
      "receipt_email": null,
      "receipt_number": null,
      "refunded": false,
      "refunds": {
        "object": "list",
        "data": [ ],
        "has_more": false,
        "total_count": 0,
        "url": "/v1/charges/ch_1DihQpDPjEFprg5kRp8CBeNv/refunds"
      },
      "review": null,
      "shipping": null,
      "source": {
        "id": "card_19dHJaDPjEFprg5k2XoiBF0o",
        "object": "card",
        "address_city": null,
        "address_country": null,
        "address_line1": null,
        "address_line1_check": null,
        "address_line2": null,
        "address_state": null,
        "address_zip": null,
        "address_zip_check": null,
        "brand": "Visa",
        "country": "US",
        "customer": "cus_9xBh3fQ7zzldaL",
        "cvc_check": null,
        "dynamic_last4": null,
        "exp_month": 9,
        "exp_year": 2019,
        "fingerprint": "GzMCgcZq3sgjDDwn",
        "funding": "unknown",
        "last4": "1111",
        "metadata": { },
        "name": "sadsdsadsasadasd asdasdsad",
        "tokenization_method": null
      },
      "source_transfer": null,
      "statement_descriptor": null,
      "status": "succeeded",
      "transfer_group": null
    }
  },
  "livemode": false,
  "pending_webhooks": 1,
  "request": null,
  "type": "charge.succeeded"
}
