&lt;SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;SOAP-ENV:Header/&gt;
  &lt;SOAP-ENV:Body&gt;
    &lt;ipgapi:IPGApiOrderResponse xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1"&gt;
      &lt;ipgapi:ApprovalCode&gt;Y:529134:A4509352455:PPXP:7881&lt;/ipgapi:ApprovalCode&gt;
      &lt;ipgapi:AVSResponse&gt;PPX&lt;/ipgapi:AVSResponse&gt;
      &lt;ipgapi:Brand&gt;VISA&lt;/ipgapi:Brand&gt;
      &lt;ipgapi:CommercialServiceProvider&gt;AIBMS&lt;/ipgapi:CommercialServiceProvider&gt;
      &lt;ipgapi:OrderId&gt;A-Tg9Z/0J+V0fjM/xv2eauCsWUiPkcOaHhmXCttg==&lt;/ipgapi:OrderId&gt;
      &lt;ipgapi:IpgTransactionId&gt;4509352455&lt;/ipgapi:IpgTransactionId&gt;
      &lt;ipgapi:PaymentType&gt;CREDITCARD&lt;/ipgapi:PaymentType&gt;
      &lt;ipgapi:ProcessorApprovalCode&gt;529134&lt;/ipgapi:ProcessorApprovalCode&gt;
      &lt;ipgapi:ProcessorCCVResponse&gt;P&lt;/ipgapi:ProcessorCCVResponse&gt;
      &lt;ipgapi:ProcessorReferenceNumber&gt;529134&lt;/ipgapi:ProcessorReferenceNumber&gt;
      &lt;ipgapi:ProcessorResponseCode&gt;00&lt;/ipgapi:ProcessorResponseCode&gt;
      &lt;ipgapi:ProcessorResponseMessage&gt;AUTH CODE:529134&lt;/ipgapi:ProcessorResponseMessage&gt;
      
      &lt;ipgapi:TDate&gt;1537544672&lt;/ipgapi:TDate&gt;
      &lt;ipgapi:TDateFormatted&gt;2018.09.21 15:44:32&lt;/ipgapi:TDateFormatted&gt;
      &lt;ipgapi:TerminalID&gt;53182590&lt;/ipgapi:TerminalID&gt;
      &lt;ipgapi:TransactionResult&gt;APPROVED&lt;/ipgapi:TransactionResult&gt;
      &lt;ipgapi:TransactionTime&gt;1537544672&lt;/ipgapi:TransactionTime&gt;
    &lt;/ipgapi:IPGApiOrderResponse&gt;
  &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;