&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"&gt;
  &lt;SOAP-ENV:Header/&gt;
  &lt;SOAP-ENV:Body&gt;
    &lt;ns5:IPGApiActionRequest xmlns:ns5="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:ns2="http://ipg-online.com/ipgapi/schemas/v1" xmlns:ns3="http://ipg-online.com/ipgapi/schemas/a1" xmlns:ns4="http://api.clickandbuy.com/webservices/pay_1_0_0/"&gt;
      &lt;ns3:Action&gt;
        &lt;ns3:RequestCardRateForDCC&gt;
          &lt;ns3:StoreId&gt;13205400828&lt;/ns3:StoreId&gt;
          &lt;ns3:BIN&gt;419681&lt;/ns3:BIN&gt;
          &lt;ns3:BaseAmount&gt;202.00&lt;/ns3:BaseAmount&gt;
        &lt;/ns3:RequestCardRateForDCC&gt;
      &lt;/ns3:Action&gt;
    &lt;/ns5:IPGApiActionRequest&gt;
  &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
