<!DOCTYPE html>
<html lang="en" data-ember-extension="1">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="The software testing platform for online payments. A toolkit for software teams to build better payments experiences for online customers.">
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}">
    {% else %}
    <meta name="keywords" content="payments testing, online payments, test credit card numbers, stripe testing, paypal testing, credit card testing">
    {% endif %}
    <meta name="author" content="Testing Pays">
    {% if page.title %}
    <title>{{page.title}}</title>
    {% else %}
    <title>Testing Pays - The Software Testing Platform for Online Payments</title>
    {% endif %}

    <link href="/css/main.css" rel="stylesheet">

    {% include layout_assets/favicons.html %}
    {% include layout_assets/preconnect.html %}
    {% include layout_assets/fonts.html %}
  </head>

  <body class="min-vh-100 d-flex flex-column">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    {% include layout_assets/bootstrap-js.html %}
    {% include layout_assets/fontawesome.html %}

    {% if page.enable_tooltips %}
      <script src="/js/utils/bootstrap/enable-tooltips.js"></script>
    {% endif %}

    {% if page.uses_react %}
      <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    {% endif %}

    {% if page.scripts %}
      {{page.scripts}}
    {% endif %}

    {% include layout_assets/hubspot.html %}
    {% include layout_assets/intercom.html %}
  </body>
</html>
