<!DOCTYPE html>
<html lang="en" data-ember-extension="1">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The software testing platform for online payments. A toolkit for software teams to build better payments experiences for online customers.">
    <meta name="keywords" content="payments testing, online payments, test credit card numbers, stripe testing, paypal testing, credit card testing">
    <meta name="author" content="Testing Pays">
    <title>Testing Pays - The Software Testing Platform for Online Payments</title>

    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">

    <!-- Typography - Link to your typography account -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7700934/7539572/css/fonts.css"> -->

    <!-- Include Googles Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid pt-2 pb-2 pr-3 pl-3">
        <a href="index"><img src="img/testingpays.png" alt="TestingPays"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-3">
              <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item active mr-3">
              <a class="nav-link" href="/business">Business</a>
            </li>
            <li class="nav-item active mr-3">
              <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item active mr-3">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item pt-1 mr-3">
              <a class="btn btn-sm btn-light" href="https://admin.testingpays.com">Login</a>
            </li>
            <li class="nav-item pt-1">
              <a class="btn btn-sm btn-primary btn-shadow" href="https://admin.testingpays.com/sign-up">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <section id="footer" class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="https://thepayment.works/">
                  <b>Testing Pays</b> is a product of <b>The Payment Works</b>.
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="https://twitter.com/ThePaymentWorks"><i class="fab fa-twitter-square fa-lg"></i></a>
                <a class="nav-link" href="https://www.linkedin.com/company/15184175/"><i class="fab fa-linkedin fa-lg"></i></a>
                <a class="nav-link" href="https://github.com/orgs/TestingPays"><i class="fab fa-github fa-lg"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2717535.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>
</html>
