<!DOCTYPE html>
<html lang="en" data-ember-extension="1">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="The software testing platform for online payments. A toolkit for software teams to build better payments experiences for online customers.">
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}">
    {% else %}
    <meta name="keywords" content="payments testing, online payments, test credit card numbers, stripe testing, paypal testing, credit card testing">
    {% endif %}
    <meta name="author" content="Testing Pays">
    {% if page.title %}
    <title>{{page.title}}</title>
    {% else %}
    <title>Testing Pays - The Software Testing Platform for Online Payments</title>
    {% endif %}


    <link href="/css/main.css" rel="stylesheet">
    {% include layout_assets/favicons.html %}
    {% include layout_assets/preconnect.html %}
    {% include layout_assets/fonts.html %}
  </head>

  <body>

    {% include navbar.html %}

    <div class="white-background">
      <div class="container white-background fill-screen-minus-footer-and-nav">
        <div class="row">
          {% include getting-started/docs/side-menu.html active=page.active %}
          <div class="col col-md-9 col-lg-8 pt-4">
            <div class="row pl-3">
              <div class="col">
                {{ content }}
              </div>
            </div>

            {% if page.wnh %}
            {% include docs/components/whats-next.html
              text=page.wnt
              link_href=page.wnh
              link_text=page.wnlt
              %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include layout_assets/bootstrap-js.html %}
    {% include layout_assets/fontawesome.html %}
    {% include layout_assets/highlight-js.html %}
    {% include layout_assets/hubspot.html %}
    {% include layout_assets/intercom.html %}
  </body>
</html>
