<!DOCTYPE html>
<html lang="en" data-ember-extension="1">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The software testing platform for online payments. A toolkit for software teams to build better payments experiences for online customers.">
    <meta name="keywords" content="payments testing, online payments, test credit card numbers, stripe testing, paypal testing, credit card testing">
    <meta name="author" content="Testing Pays">
    <title>Testing Pays - The Software Testing Platform for Online Payments</title>

    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">

    <!-- Typography - Link to your typography account -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7700934/7539572/css/fonts.css"> -->

    <!-- Include Googles Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,500" rel="stylesheet">


    <!-- Global site tag (gtag.js) - Google Ads: 778707240 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-778707240"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

          gtag('config', 'AW-778707240');
    </script>
    <!-- Event snippet for Sign up to Testing Pays conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
      function gtag_report_conversion(url) {
          var callback = function () {
                if (typeof(url) != 'undefined') {
                        window.location = url;
                            }
                  };
            gtag('event', 'conversion', {
                      'send_to': 'AW-778707240/AKY3COz2p5ABEKjCqPMC',
                            'value': 20.0,
                                  'currency': 'EUR',
                                        'event_callback': callback
                                          });
              return false;
      }
    </script>
  </head>

  <script>window.intercomSettings = {app_id: "j6rqtk6h"};</script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j6rqtk6h';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <body>

    {% include navbar.html %}

    <div class="white-background">
      <div class="container white-background fill-screen-minus-footer-and-nav">
        <div class="row">
          {% include sims/docs/side-menu.html active=page.active %}
          <div class="col col-md-9 col-lg-8 pt-4">
            <div class="row pl-3">
              <div class="col">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2717535.js"></script>
    <!-- End of HubSpot Embed Code -->

    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>

  <script>
    $(".tracking-button").on('click', function(e) {
        gtag_report_conversion($(e.target).attr('href'));
      });
  </script>
</html>
